{extend name="public/_base" /}

{block name="title"}<title>管理员 - 系统管理</title>{/block}

{block name="right"}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>管理员列表</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li>
                                {:authAction('/'.MODULE_NAME.'/'.CONTROLLER_NAME.'/create', '添加','create',true,'',700)}
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <div class="table-responsive">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">
                                    <th class="column-title">Id</th>
                                    <th class="column-title">{$Think.lang.name}</th>
                                    <th class="column-title">{$Think.lang.status}</th>
                                    <th class="column-title">{$Think.lang.create_time}</th>
                                    <th class="column-title">{$Think.lang.update_time}</th>
                                    <th class="column-title">{$Think.lang.action}</th>
                                </tr>

                                </thead>
                                <tbody>
                                {foreach $data as $vo }
                                <tr class="even pointer">
                                    <td>{$vo.id}</td>
                                    <td>{$vo.name}</td>
                                    <td>
                                        {:yesOrNo('status',$vo.status,$vo.id)}
                                    </td>
                                    <td>{$vo.create_time}</td>
                                    <td>{$vo.update_time}</td>
                                    <td>
                                        <p class="url">
                                            {:authAction('/'.MODULE_NAME.'/'.CONTROLLER_NAME.'/edit', '修改','edit',true,$vo.id,700)}
                                        </p>
                                    </td>
                                </tr>
                                {/foreach}
                                </tbody>
                            </table>
                            {$page|raw}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{/block}

{block name="js"}
<script language="javascript">

    $(document).ready(function () {
        $('.edit_radio_btn').on('click',function () {
            editor_radio($(this), '/{:MODULE_NAME}/{:CONTROLLER_NAME}/edit')
        });
    });
</script>
{/block}