<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                       aria-expanded="false">
                        <img src="{$adminUser.admin_info.avatar}" alt="">{$adminUser.admin_info.nickname ?? $adminUser.name}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li>
                            <a onclick="pageTable('设置','/admin/admin/edit','{$adminUser.id}');">
                                <span>设置</span>
                            </a>
                            <a  onclick='pageTable("管理员详情","/admin/admin/detail","{$adminUser.id}",600);'>
                                <span>个人信息</span>
                            </a>
                        </li>
                        <li><a href="{$Think.config.admin.layout_url}"><i class="fa fa-sign-out pull-right"></i>退出</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>