{load href="/static/admin/vendors/bootstrap/dist/css/bootstrap.min.css"/}
{load href="/static/admin/vendors/font-awesome/css/font-awesome.min.css"/}
{load href="/static/admin/vendors/nprogress/nprogress.css"/}
{load href="/static/admin/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css"/}
{load href="/static/admin/vendors/bootstrap-daterangepicker/daterangepicker.css"/}
{load href="/static/admin/vendors/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css"/}
{load href="/static/admin/vendors/iCheck/skins/flat/green.css"/}
{load href="/static/admin/vendors/google-code-prettify/bin/prettify.min.css"/}
{load href="/static/admin/vendors/select2/dist/css/select2.min.css"/}
{load href="/static/admin/vendors/switchery/dist/switchery.min.css"/}
{load href="/static/admin/vendors/starrr/dist/starrr.css"/}
{load href="/static/admin/build/css/custom.min.css"/}
{load href="/static/admin/Lobibox.min.css"/}
{load href="/static/ueditor/ueditor.config.js"/}
{load href="/static/ueditor/ueditor.all.js"/}
{load href="/static/ueditor/lang/zh-cn/zh-cn.js"/}