{extend name="public/_base" /}

{block name="title"}<title>管理组 - 权限管理</title>{/block}

{block name="right"}

<!-- page content -->
<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>管理组列表</h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li>
                                {:authAction('/'.MODULE_NAME.'/'.CONTROLLER_NAME.'/create', '添加管理组','create')}
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <table class="table table-striped bulk_action">
                            <thead>
                            <tr class="headings">
                                <th style="width: 5%">ID</th>
                                <th style="width: 10%">{$Think.lang.name}</th>
                                <th style="width: 20%">{$Think.lang.desc}</th>
                                <th style="width: 40%">管理员</th>
                                <th style="width: 10%">{$Think.lang.status}</th>
                                <!--<th>{$Think.lang.create_time}</th>-->
                                <!--<th>{$Think.lang.update_time}</th>-->
                                <th style="width: 10%">{$Think.lang.action}</th>
                            </tr>

                            </thead>
                            <tbody>
                            {foreach $data as $vo }
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{$vo.name}</td>
                                <td>{$vo.desc}</td>
                                <td>
                                    <?php $array=[];?>
                                    {foreach $vo.admin_group as $v }
                                        <?php $array[]= $v['nickname'] ?? $v['name'];?>
                                    {/foreach}
                                    {:implode(',',$array)}
                                </td>
                                <td>
                                    {:yesOrNo('status',$vo.status,$vo.id)}
                                </td>
                                <!--<td>{$vo.create_time}</td>-->
                                <!--<td>{$vo.update_time}</td>-->
                                <td>
                                    {:authAction('/'.MODULE_NAME.'/'.CONTROLLER_NAME.'/edit', '修改','edit',true,$vo.id)}
                                    {:authAction('/'.MODULE_NAME.'/'.CONTROLLER_NAME.'/setPrivilege', '设置权限','setPrivilege',true,$vo.id)}
                                </td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
{/block}
