<div class="right_col" role="main">
    <div class="">
        <div class="row">
            <div class="x_panel">
                <div class="x_content">
                    <br/>
                    <form class="form-horizontal" method="post" action=""  onsubmit="return AddEditFrom(this,'/{:MODULE_NAME}/{:CONTROLLER_NAME}/create',true);">
                        <div class="item form-group">
                            <label class="control-label col-md-3" for="name">{$Think.lang.name}<span
                                    class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="name" class="form-control col-md-7 col-xs-12" name="name" required="required" type="text">
                                <span class="fa fa-credit-card form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label for="type"
                                   class="control-label col-md-3 col-sm-3 col-xs-12">{$Think.lang.type}<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select id="type" class="chosen-select form-control" name="type" required>
                                    <option value="1">{:$Think.config.tag_type_1}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">{$Think.lang.show}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div id="show" class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default">
                                        <input type="radio" name="show" value="0"> &nbsp; {$Think.lang.no} &nbsp;
                                    </label>
                                    <label class="btn btn-default active">
                                        <input type="radio" name="show" value="1" checked> {$Think.lang.yes}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="item form-group">
                            <label for="sort" class="control-label col-md-3 col-sm-3 col-xs-12">{$Think.lang.sort}</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="sort" type="number" name="sort" value="100" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <button type="reset" class="btn btn-primary">{$Think.lang.reset}</button>
                                <button type="submit"  class="btn btn-success">{$Think.lang.submit}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{block name="js"}
<script>
    $(function () {
        $(document).ready(function() {
            $('.chosen-select').chosen();
        });
    });
</script>
{/block}